.innerCatagroy{
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    left: 0;
    right:0;
    transition: all 1s;
}
.catgroyHover:hover .innerCatagroy {
    top: 0;
}