.formbtn input:focus{
    outline: none;
    box-shadow: 0 0 0 0 transparent !important;
    border: 3px solid rgba(0, 130, 0,0.4) !important ;
}
.formbtn input{
    font-weight: bolder !important;
}
.formbtn label{
    font-size: 19px !important;
    font-weight: bolder !important;

    
}
.headerEmail{
    color: var(--main-color) !important;

}
.labelEmail{
    font-weight: bolder;
    font-size: 30px !important;
}
@media screen and (min-width:400px) and (max-width:1000px){
  .btn2{
    font-size:16px !important;
  }
  .alertemail{
    font-size: 18px !important;
  }
  }